newsapi
pytest
absl-py==0.8.1
alembic==1.3.0
asn1crypto==1.2.0
astor==0.8.0
astroid==2.2.5
attrs==19.3.0
Automat==0.7.0
beautifulsoup4==4.8.1
bleach==3.1.1
blis==0.4.1
boto3==1.10.38
botocore==1.13.38
Bottleneck==1.3.1
bs4==0.0.1
cachetools==3.1.1
catalogue==1.0.0
certifi==2018.11.29
cffi==1.13.0
chardet==3.0.4
Click==7.0
constantly==15.1.0
cryptography==2.7
cssselect==1.1.0
cycler==0.10.0
cymem==2.0.2
cytoolz==0.10.1
docutils==0.15.2
dominate==2.4.0
en-vectors-web-lg==2.1.0
entrypoints==0.3
fastai==1.0.59
fastprogress==0.1.22
Flask==1.1.1
Flask-Bootstrap==3.3.7.1
Flask-Migrate==2.5.2
Flask-SQLAlchemy==2.4.1
gast==0.2.2
google-api-python-client==1.7.9
google-auth==1.6.3
google-auth-httplib2==0.0.3
google-auth-oauthlib==0.4.1
google-pasta==0.1.8
grpcio==1.25.0
gunicorn==19.9.0
h5py==2.10.0
httplib2==0.18.0
hyperlink==19.0.0
idna==2.8
importlib-metadata==0.23
imutils==0.5.2
incremental==17.5.0
isort==4.3.21
itsdangerous==1.1.0
Jinja2==2.10.3
jmespath==0.9.4
joblib==0.14.0
keyring==19.2.0
kiwisolver==1.1.0
lazy-object-proxy==1.4.1
lxml==4.4.1
Mako==1.1.0
Markdown==3.1.1
MarkupSafe==1.1.1
matplotlib==3.1.1
mccabe==0.6.1
more-itertools==7.2.0
murmurhash==1.0.2
newsapi-python==0.2.6
nltk==3.4.5
numexpr==2.7.0
numpy==1.16.4
nvidia-ml-py3==7.352.0
oauthlib==3.1.0
opt-einsum==3.1.0
packaging==19.2
pandas==0.25.3
parsel==1.5.2
Pillow==6.2.1
pkginfo==1.5.0.1
plac==0.9.6
preshed==3.0.2
protobuf==3.10.0
psycopg2==2.8.4
pyasn1==0.4.5
pyasn1-modules==0.2.5
pycparser==2.19
PyDispatcher==2.0.5
Pygments==2.4.2
PyHamcrest==1.9.0
pylint==2.3.1
pynvx==1.0.0
pyOpenSSL==19.0.0
pyparsing==2.4.0
python-dateutil==2.8.0
python-dotenv==0.10.3
python-editor==1.0.4
pytz==2019.3
PyYAML==5.1.2
queuelib==1.5.0
readme-renderer==24.0
regex==2019.12.9
requests==2.22.0
requests-oauthlib==1.3.0
requests-toolbelt==0.9.1
rsa==4.0
s3transfer==0.2.1
sacremoses==0.0.35
scikit-learn==0.21.3
scipy==1.3.0
Scrapy==1.7.3
sentencepiece==0.1.83
-e git+https://github.com/nbroad1881/senti-news@617d44649248b029633d9d07c1f6cf70d7df9ec9#egg=senti_news
service-identity==18.1.0
six==1.12.0
soupsieve==1.9.5
spacy==2.2.3
SQLAlchemy==1.3.11
srsly==0.1.0
termcolor==1.1.0
textblob==0.15.3
thinc==7.3.1
toolz==0.10.0
torch==1.3.1
torchvision==0.4.2
tqdm==4.36.1
transformers==2.2.1
twine==3.0.0
Twisted==19.7.0
typed-ast==1.4.0
uritemplate==3.0.0
urllib3==1.24.3
vaderSentiment==3.2.1
visitor==0.1.3
w3lib==1.21.0
wasabi==0.6.0
webencodings==0.5.1
Werkzeug==0.16.0
wrapt==1.11.2
zipp==0.6.0
zope.interface==4.6.0
